<!DOCTYPE html>
<html>
    <head>
        <title>connection</title>
        <link rel="stylesheet" href="styles/commonStyles.css">
    </head>
    <body>
        <header>
            <h1>Join the good side of the force</h1>
            
        </header>
        <div>
            <p>Please enter all the informations :</p>
            <h4>Username</h4>
            <input type="text"/>
            <h4>Password</h4>
            <input type="password"/>
            <h4>Email</h4>
            <input type="email"/>
            <h4>Date Of Birth</h4>
            <input type="date"/>
            <br/>
            <br/>
            <input type="button" value="Sign Up"/>
        </div>
    </body>
</html>