.head-body{
    display:flex;
    flex-direction: row;
    height: 100px;
    margin-bottom: 50px;
    place-content: end space-between;
    align-items: center;
}

.connection{
    width: 125px;
    padding: 15%;
    background: none;
    font-family: sans-serif;
    font-size: 20;
    color: #212F3D;
    border: solid 2px;
    border-radius: 10px;
    border-color: #212F3D;
}

.deconnection{
    width: 125px;
    padding: 15%;
    border: none;
    color:#B2BABB;
    background-color: #212F3D;
    font-family: sans-serif;
    border-radius: 10px;
}

#accessList{
    color: #212F3D;
    background-color: #E4F8FF;
    margin: 2%;
    padding: 3%;
    border-radius: 30px;
    display: flex;
    place-content: end space-between;
}

.private-lists{
    background: none;
    border:none;
    color: #212F3D;
    background-color: #F7F9F9;
    font-family: sans-serif;
    font-size: 25;
    padding : 40px;
    border-radius: 25px;
}

.create-list{
    margin-top: 2%;
    background: none;
    border:none;
    color: #212F3D;
    background-color: #F7F9F9;
    font-family: sans-serif;
    font-size: 25;
    padding : 40px;
    border-radius: 50px;
    margin-left: 25%;
    width: 50%;
}

.private-lists:hover{
    background-color: #E4F8FF;
}